[submodule "jellyfin-server"]
	path = jellyfin-server
	url = git@github.com:jackyfengzhangcai/jellyfin.git
[submodule "jellyfin-web"]
	path = jellyfin-web
	url = git@github.com:jackyfengzhangcai/jellyfin-web.git
[submodule "jellyfin-server-windows"]
	path = jellyfin-server-windows
	url = https://github.com/jellyfin/jellyfin-server-windows.git
